# XcodeGen output
*.xcodeproj/

# Xcode build output
build/
DerivedData/
*.xcuserstate
xcuserdata/

# Swift package manager
.build/
.swiftpm/
Packages/
Package.pins
Package.resolved

# macOS
.DS_Store
